<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cw.f0002.dao.SingleMapper" >

    <select id="getSingleById" resultType="com.cw.f0002.entity.TSingle">
        SELECT id, field FROM t_single WHERE id= #{id}
    </select>

</mapper>